@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto:ital,wght@0,300;0,400;0,500;1,100;1,300;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Oswald:wght@200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');


/*---------------------------------Header*/

.Logo_picture{
    background-image: url("../img/Logo_background2.png");
       background-size: 100% 100%;
}

nav{
    text-align: center;
}

.logo{
font-family: "Monserrat", sans-serif;
color: #77293a;
    text-shadow: 1.5px 1.5px black;
text-align: right;
font-weight: 600;
font-size: 52px;
}

.logo:hover{
color:white;
    text-shadow: 1.5px 1.5px black; 
}

 .navbar_header li a{
     font-family: "Oswald", sans-serif;
     font-weight: 500;
     font-size: 22px;
     padding: 0px 6px 0px 6px;
     color: #020202;
    text-shadow: 1.5px 1.5px #aaaaaa;
    transition: all 0.35s ease-in-out;
     -moz-transition: all 0.35s ease-in-out;
     -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
     }


.navbar_header li a:hover{
    color:white;
    text-shadow: 1.5px 1.5px black;
    text-decoration:none;

}


.link_icon_header{
    text-align: right;
 padding: 3px 0px 3px 60px; 
}

.link_icon_header a{
    font-weight: 500;
font-size: 18px; 
color: #77293a;
}

.link_icon_header a:hover{
  color: #020202;
    text-shadow: 1.5px 1.5px #aaaaaa; 
}

.dropdown_header_smd{
   margin: 0px 0 0px 0;
    border: 2px black solid;
    border-radius: 20%;
     font-weight: 200;
     font-size: 8px;
}

.dropdown_header_smd a{
    font-family: "Oswald", sans-serif;
    font-size: 14px;
     color:#77293a;
}


/*---------------------------------Main Section*/

.Main_content{
    margin: 20px 0px 20px 0px;
}

.Title_section h4{
      margin: 12px 0px 20px 0px;
    font-family: "Oswald", sans-serif;
    font-size: 32px;
    color:black;
    text-shadow: 0.5px 0.5px #987e6a;
     font-weight: 500;
     margin-top:40px;
}

.Title_section p {
    font-family: "Roboto", sans-serif;
    font-size:20px;
    color:black;
     font-weight: 500;

}

.upper_section_right_index p, .lower_section_left_index p, .board_text, .vision_section p, .history_section_left p, .Guidelines_main_section, .Neighbourhood_main_section,.Partners_section, .Form_main_section, .Livinghere_main_section, .Guidelines_main_section, .Neighbourhood_main_section,.Partners_section, .Form_main_section, .Livinghere_main_section , .news_section_left p, .upper_section_contactpage p {
    color:#494444;
    font-size:18px;
    font-family: "Roboto", sans-serif;
      font-weight: 400;
}


.Partner_title1a {
    font-size:22px;
    font-family: "Oswald", sans-serif;
    color:black;
     font-weight: 600;
     text-decoration:underline;
}

.Partner_title1 {
    margin: 40px 0 0 0;
    font-size:22px;
    font-family: "Oswald", sans-serif;
    color:black;
     font-weight: 600;
     text-decoration:underline;
}

.Partner_title2 {
    font-family: "Oswald", sans-serif;
    font-size:20px;
    color:black;
     font-weight: 500;
}


.Guidelines_main_section a, .upper_section_index a, .upper_section_right_contactpage a, .Partners_section a, #infoelectricity a, #infogas a, #infotele a, #infotele a, #infoinsurance a, #infotransport a, #infokid a, #infohealth a, #inforestaurants a, #infosupermarket a, #infoother a, #infomovingin a, #infomovingout a, #infosublet a, #infocancel a, #inforelocate a{   
    color:darkblue;
    font-family: "Oswald", sans-serif;
}

.board{
 color:#111111;   
}

.board_title{
 font-family: "Oswald", sans-serif;
     font-weight: 500;
     font-size: 22px;
}

.upper_section_left_index{
    height: 300px;
    background-image: url("../img/GeneralInfo3.jpg");
    background-size:cover;
    background-repeat: no-repeat;
}


.Guidelines_main_section button, .Livinghere_main_section button, .Neighbourhood_main_section button, .Form_main_section button {
    margin:20px 0 0 0;
    font-size:20px;
    font-family: "Oswald", sans-serif;
    color:black;
     font-weight: 600;
}

.Guidelines_main_section button:hover, .Livinghere_main_section button:hover, .Neighbourhood_main_section button:hover, .Form_main_section button:hover {
     color:darkblue;
}

.board_pic{
     font-size: 42px;

}

.vision_section_left{
    height: 300px;
    background-image: url("../img/vision1.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.history_section_right{   
    height: 300px;
    background-image: url("../img/history.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.news_section_right{  
    margin: 0 0 20px 0;    
    height: 300px;
    background-image: url("../img/News2.JPG");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.upper_section_left_contactpage{
      margin: 0 0 20px 0;    
    height: 300px;
    background-image: url("../img/contactpage.jpg");
    background-size:cover;
    background-repeat: no-repeat;  
}

.upper_section_right_contactpage {
    padding: 100px 0px 0px 40px;
    text-align:left;
}

.board{
    margin: 50px 0 0 0;
}

/* Ticker Vision section*/

/* OUTER CONTAINER */
.tcontainer {
    margin:20px 0 0 20px;
  width: 100%;
  overflow: hidden; /* Hide scroll bar */
}

/* MIDDLE CONTAINER */
.ticker-wrap {
  width: 100%;
  padding-left: 100%; /* Push contents to right side of screen */
}

/* INNER CONTAINER */
@keyframes ticker {
  0% { transform: translate3d(0, 0, 0); }
  100% { transform: translate3d(-100%, 0, 0); }
}

.ticker-move {
  display: inline-block;
  white-space: nowrap;
  padding-right: 100%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: ticker;
  animation-duration: 28s;
}

/* ITEMS */
.ticker-item{
  display: inline-block; /* Lay items in a horizontal line */
  padding: 0 2rem;
  color:#494444;
  font-size:22px;
  font-family: "Roboto", sans-serif;
  font-weight: 500; 
}

/* Ticker Boardmember section*/

.tickerv1-wrap1 {
    margin:20px 0 0 20px;
  box-sizing: content-box;
  height: 20px; 
  overflow: hidden; 
  padding: 10px;
} 

@keyframes tickerv1 {
  0%   {margin-top: 0;}
  25%  {margin-top: -22px;} 
  50%  {margin-top: -44px;} 
  75%  {margin-top: -66px;} 
  100% {margin-top: -88px;} 
}

/* ITEMS */
.tickerv1-wrap1 ul li {
  color:#494444;
  font-size:22px;
  font-family: "Roboto", sans-serif;
  font-weight: 400; 
}

.tickerv1-wrap1 ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  animation-name: tickerv1; /* Loop through items */
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(1, 0, .5, 0);
}
.tickerv1-wrap1 ul:hover {
  animation-play-state: paused;
}

/* Ticker History section*/

.tickerv-wrap {
    margin:20px 0 0 20px;
  box-sizing: content-box;
  height: 200px; 
  overflow: hidden; 
  padding: 10px;
} 

@keyframes tickerv {
  0%   {margin-top: 0;}
  25%  {margin-top: -125px;} 
  50%  {margin-top: -250px;} 
  75%  {margin-top: -375px;} 
  100% {margin-top: -500px;} 
}

/* ITEMS */
.tickerv-wrap ul li {
  color:#494444;
  font-size:18px;
  font-family: "Roboto", sans-serif;
  font-weight: 400; 
}

.tickerv-wrap ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  animation-name: tickerv; /* Loop through items */
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(1, 0, .5, 0);
}
.tickerv-wrap ul:hover {
  animation-play-state: paused;
}


/*---------------------------------Sub Section*/

.links{
   background-image: url("../img/footer.png");
    background-size:100% 100%;
    background-repeat: no-repeat;  
     }

.dropdown_footer_info, .dropdown_footer_neighbourhood, .dropdown_footer_partners,.dropdown_footer_contact {
    font-family: "Oswald", sans-serif;
      color:white;
      text-shadow:black 1px solid;
      font-size: 18px;
}

.dropdown_footer_neighbourhood a, .dropdown_footer_partners a{
    font-family: "Oswald", sans-serif;
      color:white;
      font-size: 18px;
}

.dropdown_footer_neighbourhood a:hover, .dropdown_footer_partners a:hover{
       font-family: "Oswald", sans-serif;
       font-weight: 400;
     color: lightgray;
    text-shadow: 1.5px 1.5px #aaaaaa; 
}

.dropdown_footer_info button, .dropdown_footer_neighbourhood button, .dropdown_footer_partners button,.dropdown_footer_contact button {
       font-family: "Oswald", sans-serif;
       font-weight: 400;
     color:white;
      font-size: 18px;
}

.dropdown_footer_info button:hover, .dropdown_footer_neighbourhood button:hover, .dropdown_footer_partners button:hover,.dropdown_footer_contact button:hover{
       font-family: "Oswald", sans-serif;
       font-weight: 400;
     color: lightgray;
    text-shadow: 1.5px 1.5px #aaaaaa; 
}


.links_sub_section li a:hover{
      color:#de9957;
  text-decoration:none;

}

/*---------------------------------Footer*/

.contactfooter{
      margin: 10px 0px 0px 0px;;
    font-family: "Oswald", sans-serif;
    color:#77293a;
     font-weight: 500;
     font-size: 18px; 
}

.contactfooter a{
      margin: 0px 0px 0px 0px;;
    font-family: "Oswald", sans-serif;
    color:black;
     font-weight: 500;
     font-size: 18px;
}

/*--------------------------------- Modal*/

.modal-header h5{
    text-align:center;
    width:100%;
    color:#77293a;
    font-weight: 600;
     font-size: 20px; 
}

.Movin_form p, .Movout_form p{
    color:black;
         font-weight: 500;
     font-size: 18px; 
     text-decoration:underline;
}

.Movin_form label, .Movout_form label{
    color:#77293a;
         font-weight: 400;
     font-size: 16px; 
}

#Issuereport{
    margin:0 0 20px 0;
   width: 30%;
}

#Issuereport_label, #MovingIN_label{
     font-family: "Oswald", sans-serif;
     margin:0px 0 0 0;
      color:#77293a;
  text-align: center;
     font-weight: 600;
     font-size: 20px;   
}


#apartment_id{
        margin:0 0px 20px 30%;
      width: 40%;
}

#first_name, #last_name{
    margin: 0px 0 20px 0;
    width:50%;
    align-content: center;
    font-family: "Oswald", sans-serif;
}

#DescriptionOfIssue {
   resize: none;
   width: 100%;
   height: 20%;
}

.report_buttom{
    background-color: #77293a;
    color:white;
}

.report_buttom:hover{
    background-color: lightgray;
    color:black;
}

/*---------------------------------Media query*/

@media screen and (max-width: 992px){

    .logo{
        font-size: 34px;
        }

    .navbar_header li a{
     font-family: "Oswald", sans-serif;
     font-weight: 500;
     font-size: 18px;
     }

     .link_icon_header a{
    font-weight: 500;
    font-size: 18px; 
     }

     .upper_section_right_contactpage {
    padding: 10px 0px 0px 0px;
    text-align: center;
 
}

 .contactfooter{
    font-family: "Oswald", sans-serif;
    color:#77293a;
     font-weight: 500;
}


.dropdown_footer_info button, .dropdown_footer_neighbourhood button, .dropdown_footer_partners button,.dropdown_footer_contact button {
       font-family: "Oswald", sans-serif;
       font-weight: 400;
     color:white;
      font-size: 18px;
}

}