@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto:ital,wght@0,400;0,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Oswald:wght@200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

/*-----------------------------New Layout Header*/

  #dropdownMenuButton{
         background-color: white;
         border-radius: 20%;
     }

.Logo_image{
        background-image: url("../img/pexels-adrien-olichon-2387674.jpg");
       background-size: 100% 100%;
       height:700px;}

.navbar{
     padding-top: 100px;
   padding-left: 80%;  
}

.menu_header{
    background-color: white;
    border: black 1px solid;
 }


 .dropdown-menu a{
     font-family: "Oswald", sans-serif;
     font-weight: 300;
     font-size: 18px;   
     }


     .Logo a{
     font-family: "Montserrat", sans-serif;
     font-weight: 600;
     font-size: 48px;
  color: white;
     text-shadow:black 2px 2px;
    text-decoration: none;
}

     .Logo p{
    font-family: "Montserrat", sans-serif; 
     color: white;
     text-shadow:black 2px 2px;
       font-weight: 400;
     font-size: 28px;

}

/*-----------------------------New Layout Main Section*/
body{
     background-color:#ececec;
}

h2{
    padding: 30px 0 30px 0;

}


.section3,.nbgh_frame {
     background-color: white;
}


.aboutthebuilding_img{
    height:240px;
    width:240px;
    background-image: url("../img/pexels-serinuscanaria-5602170.jpg");
    background-size:cover;
    border-radius: 50%;
    border: #545760 1px solid;
   background-position: center;
    background-repeat: no-repeat;
}
 .gratitude_img{
   vertical-align:middle;
   height:240px;
    background-image: url("../img/pexels-hannah-nelson-1456951.jpg");
    background-size:20% 100%;
    background-position: center center;
    background-repeat: no-repeat;}


.abouthebuilding_text, .news_text{
    padding:60px 0px 0px 30px;
        color: #494444;
    font-size:22px;
    font-family: "Roboto", sans-serif;
      font-weight: 400;
}

.profile_text,.question_text,.neighbourhood_text{
    padding:60px 0px 0px 0px;
        color: #494444;
    font-size:18px;
    font-family: "Roboto", sans-serif;
      font-weight: 400;
}

.profile_title,.question_title,.neighbourhood_title, .profile_title_section1 {
    padding:30px 0px 10px 0px;
        color: black;
    font-size:24px;
    font-family: "Roboto", sans-serif;
      font-weight: 500;
}

.info_buttoms p, .contract_buttom p,.invoices_buttom p,.blueprint_buttom p{
     padding:0px 0px 20px 0px;
        color: black;
    font-size:28px;
    font-family: "Roboto", sans-serif;
      font-weight: 500;   
}

a {
    color:darkblue;
    font-weight: 600;
}

a:hover {
    color:#7288a2;
    font-weight: 600;
    text-decoration: none;
}

.section1, .section1_profile{
    height:360px;
}

.section1_index{
    height:360px;
}
.section1_profile{
padding: 0 0 30px 0;
}


.section2, .section2_profile{
    margin:80px 0px 0px 0px;
    height:400px;
   background-color: white;
    background-size:cover;
}

.section3_content, .question_frame{
    padding-bottom: 40px;

}

.section2_content{
padding: 80px 0 0 0;
}



.neighbourhood_img{ 
    height:240px;
    width:240px;
    background-image: url("../img/pexels-daria-shevtsova-1070945.jpg");
    background-size:cover;
    border-radius: 50%;
    border: #545760 1px solid;
    background-position: center;
    background-repeat: no-repeat;

}

.profile_img{
     height:240px;
     width:240px;
     align-items: center;
    background-image: url("../img/pexels-emre-can-2079249.jpg");
    background-size:cover;
    border-radius: 50%;
    border: #545760 1px solid;
    background-position: center;
    background-repeat: no-repeat;
   
}

.question_frame1, .question_frame3{
   background-color: white;   
}

.question_frame2{
   border-bottom: #3a4a5d 2px solid;
   border-top: #3a4a5d 2px solid; 
   background-color: #ececec;   
}

.question_img{
     height:240px;
     width:240px;
     align-items: center;
    background-image: url("../img/pexels-luca-nardone-3651820.jpg");
    background-size:cover;
    border-radius: 50%;
    border: #545760 1px solid;
    background-position: center;
    background-repeat: no-repeat;
   
}

.buttom{
    height:50px;
     width:50px; 
}

.contract_buttom,.invoices_buttom,.blueprint_buttom,.info_buttoms{
    padding: 50px 0 0 0;
}

.news_section_mypage{
    padding: 0px 0 20px 0;
}


/* Ticker  news section*/
/* OUTER CONTAINER */
.tcontainer {
    margin:20px 0 0 20px;
  width: 100%;
  overflow: hidden; /* Hide scroll bar */
}
/* MIDDLE CONTAINER */
.ticker-wrap {
  width: 100%;
  padding-left: 100%; /* Push contents to right side of screen */
}
/* INNER CONTAINER */
@keyframes ticker {
  0% { transform: translate3d(0, 0, 0); }
  100% { transform: translate3d(-100%, 0, 0); }
}
.ticker-move {
  display: inline-block;
  white-space: nowrap;
  padding-right: 100%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: ticker;
  animation-duration: 40s;
}
.ticker-item{
  display: inline-block; /* Lay items in a horizontal line */
  padding: 0 2rem;
  color:#494444;
    font-size:18px;
    font-family: "Roboto", sans-serif;
      font-weight: 400;
}
.mticker-wrap {
  width: 100%;
  padding-right: 100%; /* Push contents to left side of screen */
}
@keyframes mticker {
  0% { transform: translate3d(-100%, 0, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
.mticker-move {
  display: inline-block;
  white-space: nowrap;
  padding-left: 100%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: mticker;
  animation-duration: 70s;
}
.mticker-item{
  display: inline-block; /* Lay items in a horizontal line */
  padding: 0 2rem;
  color:#494444;
  font-size:22px;
  font-family: "Roboto", sans-serif;
  font-weight: 500; 
}
/* ITEMS */
.mticker-item{
  display: inline-block; /* Lay items in a horizontal line */
  padding: 0 2rem;
  color:#494444;
  font-size:22px;
  font-family: "Roboto", sans-serif;
  font-weight: 500; 
}
/*--- List of items in Neighbourhood and Frequently asked question pages -*/

h2{
        color: black;
    font-size:28px;
    font-family: "Roboto", sans-serif;
      font-weight: 500;  
}


.accordion h3{
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  padding: 1rem 3rem 1rem 1rem;
  color: #7288a2;
  font-size: 1.15rem;
  font-weight: 400;
  border-bottom: 1px solid #e5e5e5;
}

.accordion h3:hover,
.accordion h3:hover::after {
  cursor: pointer;
  color: #3a4a5d;
}

.accordion h3:hover::after {
  border: 1px solid #3a4a5d;
}
.accordion h3.active {
  color: #3a4a5d;
  border-bottom: 1px solid #3a4a5d;
}

.accordion h3::after {
  font-family: 'Ionicons';
  content: '\f218';
  position: absolute;
  float: right;
  right: 1rem;
  font-size: 1rem;
  color: #7288a2;
  padding: 5px;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #7288a2;
  text-align: center;
}

.accordion h3.active::after {
  font-family: 'Ionicons';
  content: '\f209';
  color: #3a4a5d;
  border: 1px solid #3a4a5d;
}

.accordion .accordion_content{
  opacity: 0;
  padding: 0 1rem;
  max-height: 0;
  border-bottom: 1px solid #e5e5e5;
  overflow: hidden;
  clear: both;
  -webkit-transition: all 0.2s ease 0.15s;
  -o-transition: all 0.2s ease 0.15s;
  transition: all 0.2s ease 0.15s;
}

.accordion .accordion_content p{
  font-size: 1rem;
  font-weight: 300;
}

.accordion .accordion_content.active {
  opacity: 1;
  padding: 1rem;
  max-height: 100%;
  -webkit-transition: all 0.35s ease 0.15s;
  -o-transition: all 0.35s ease 0.15s;
  transition: all 0.35s ease 0.15s;
}





/*-----------------------------New Layout Header*/
.borderline{
border-top: #7d8276 3px solid;
}


.borderline_profile{
    border-top: #7d8276 3px solid;
    background-color: white;
}
.footerlinks{
    margin: 40px 0 0 0;
    justify-content:center;
}

.footerlinks a {
margin: 0 20px 0px 20px;
	    font-size:34px;
    font-family: "Roboto", sans-serif;
      font-weight: 500;
      color:#7d8276;
}

.footerlinks a:hover {
      color:#92afb3;
}

/*---------------------------------New Layout Modal*/

.modal-header h5{
    text-align:center;
    width:100%;
    color:#77293a;
    font-weight: 600;
     font-size: 20px; 
}

.Movin_form p, .Movout_form p{
    color:black;
         font-weight: 500;
     font-size: 18px; 
     text-decoration:underline;
}

.Movin_form label, .Movout_form label{
    color:#77293a;
         font-weight: 400;
     font-size: 16px; 
}

#Issuereport{
    margin:0 0 20px 0;
   width: 30%;
}

#Issuereport_label, #MovingIN_label{
     font-family: "Oswald", sans-serif;
     margin:0px 0 0 0;
      color:#77293a;
  text-align: center;
     font-weight: 600;
     font-size: 20px;   
}

#Issuereport option{
       font-size: 16px;   
}


#apartment_id{
        margin:0 0px 20px 30%;
      width: 40%;
}

#first_name, #last_name{
    margin: 0px 0 20px 0;
    width:50%;
    align-content: center;
    font-family: "Oswald", sans-serif;
}

#DescriptionOfIssue {
   resize: none;
   width: 100%;
   height: 20%;
}

.report_buttom{
    background-color: #77293a;
    color:white;
}

.report_buttom:hover{
    background-color: lightgray;
    color:black;
}

/*---------------------------------New Layout Media query*/


@media screen and (max-width: 992px){

    .Logo_image{
        background-image: url("../img/pexels-adrien-olichon-2387674.jpg");
       background-size: 100% 100%;
       height:400px;}

.section1{
    height:450px;
}
.section1_index{
    height:650px;
}



.section2_profile{
    height:380px;
}
.section2{
    height:600px;
}

    .abouthebuilding_text, .news_text{
        font-size:18px;
    }

    .aboutthebuilding_img{
    width:100%;
     background-position: center;
    background-image: url("../img/pexels-serinuscanaria-5602170.jpg");
    background-size: cover;
    border:none;
    border-radius:0%;
    background-repeat: no-repeat;
}

    .neighbourhood_img{
     width:50%;
     position: relative;
     left: 25%;
    background-position: center;
    background-image: url("../img/pexels-daria-shevtsova-1070945.jpg");
    }

    .profile_img{
     width:50%;
     position: relative;
     left: 25%;
    background-position: center;
    background-image: url("../img/pexels-emre-can-2079249.jpg");
    }
    
    .question_img{
     width:50%;
     position: relative;
     left: 25%;
    background-position: center;
    background-image: url("../img/pexels-luca-nardone-3651820.jpg");
    }

    .section3{
     margin: 40px 0 0px 0;
}
    .profile_title, .question_title{
        padding: 10px 0 0 0;
        margin:40px 0 0 0;
    border-top: 1px solid grey;
    }

    .profile_text,.question_text,.neighbourhood_text{
        padding: 30px 0 30px 0;
    }

    .profile_img_section3 p, .profile_img_section1 p, .profile_img_section2 p{
        color: black;
    font-size:80px;
    font-family: "Roboto", sans-serif;
      font-weight: 500;
}
 .gratitude_img{
   vertical-align:middle;
   height:240px;
    background-image: url("../img/pexels-hannah-nelson-1456951.jpg");
    background-size:40% 100%;}

}