@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto:ital,wght@0,300;0,400;0,500;1,100;1,300;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Oswald:wght@200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');


/*---------------------------------Header*/

header{
    margin: 0px 0px 0px 0px;
}



nav{
    text-align: center;
}

.logo{
font-family: "Monserrat", sans-serif;
color: #987e6a;
text-shadow: 1.5px 1.5px #3c2a2a;
text-align: right;
font-weight: 500;
font-size: 46px;
}

.logo:hover{
color: #c6beb1;
text-shadow: 1.5px 1.5px #3c2a2a;
}





.navbar_header li a{
     font-family: "Oswald", sans-serif;
     font-weight: 500;
     padding: 0px 6px 0px 6px;
    color: #3c2a2a;
    text-shadow: 0.25px 0.25px #c6beb1;
    transition: all 0.35s ease-in-out;
     -moz-transition: all 0.35s ease-in-out;
     -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
     }


.navbar_header li a:hover{
    color: #987e6a;
    text-shadow: 0.3px 0.3px #5d3033;
    text-decoration:none;

}


.link_icon_header{
    text-align: center;
    border-bottom: 2px #987e6a solid;
     border-top: 2px #987e6a solid;
 padding: 0px 0px 0px 60px; 
}

.link_icon_header a{
    font-weight: 500;
font-size: 18px; 
color:#77293a; 
text-shadow: 0.5px 0.5px #5d3033;
}

.link_icon_header a:hover{
    color:#987e6a; 
text-shadow: 0.5px 0.5px #3c2a2a;
}

/*---------------------------------Main Section*/

.Main_content{
    margin: 20px 0px 20px 0px;
}

.Title_section{
      margin: 0px 0px 40px 0px;
    font-family: "Oswald", sans-serif;
    color:#3c2a2a;
    text-shadow: 0.5px 0.5px #987e6a;
     font-weight: 500;
     align-content: 46px;

}

.upper_section_left{
    align-items: right;
}

.upper_section_left img, .lower_section_right img{
}

.upper_section, .lower_section{
    font-family: "Roboto", sans-serif;
    color:#987e6a;
     font-weight: 300;
     align-content: 18px;
}

.upper_section_left, .lower_section_right{
   text-align: center;
}

.dropdown_header_smd{
   margin: 0px 0 0px 0;
    border: 2px #987e6a solid;
    border-radius: 20%;
     font-weight: 200;
     font-size: 8px;
}

.dropdown_header_smd a{
    font-family: "Oswald", sans-serif;
    font-size: 14px;
     color:#77293a;
}


/*---------------------------------Sub Section*/

.links{
    border-bottom: 2px #987e6a solid;
     border-top: 2px #987e6a solid;
     }

.dropdown_footer_info{
      font-family: "Oswald", sans-serif;
     font-weight: 300;
     list-style-type: none;  
     color:#63605b;
}

.dropdown_footer_info a, .dropdown_footer_neighbourhood a, .dropdown_footer_partners a,.dropdown_footer_contact a {
      color:#63605b;
      font-size: 12px;
}

.dropdown_footer_info button, .dropdown_footer_neighbourhood button, .dropdown_footer_partners button,.dropdown_footer_contact button {
       font-family: "Oswald", sans-serif;
       font-weight: 400;
      color:#3c2a2a;
      font-size: 18px;
}

.links_sub_section li a:hover{
      color:#de9957;
  text-decoration:none;

}

.links_sub_section p{
      font-family: "Oswald", sans-serif;
    color:black;
     font-weight: 500;
     align-content: 46px; 

}

/*---------------------------------Footer*/


.contact_footer p{
      margin: 10px 0px 40px 0px;;
    font-family: "Oswald", sans-serif;
    color:#77293a;
     font-weight: 500;
     align-content: 46px; 

}


/*---------------------------------Media query*/




@media screen and (max-width: 992px){

    .logo{
        font-size: 28px;
        }
    .navbar_header li a{
     font-family: "Oswald", sans-serif;
     font-weight: 500;
     font-size: 12px;
     
     }

     .link_icon_header a{
    font-weight: 500;
    font-size: 16px; 
     }

     .contact_footer p{
      margin: 10px 0px 40px 0px;;
    font-family: "Oswald", sans-serif;
    color:#77293a;
     font-weight: 500;
     align-content: 28px; 

}


.dropdown_footer_info button, .dropdown_footer_neighbourhood button, .dropdown_footer_partners button,.dropdown_footer_contact button {
       font-family: "Oswald", sans-serif;
       font-weight: 400;
      color:#3c2a2a;
      font-size: 12px;
}

}
