@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto:ital,wght@0,400;0,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Oswald:wght@200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');


/*---------------------------------Header*/

.Logo_picture{
    background-image: url("../img/Logo_background2RS.png");
       background-size: 100% 100%;
}

nav{
    text-align: center;
}

.logo{
font-family: "Monserrat", sans-serif;
color: #77293a;
    text-shadow: 1.5px 1.5px black;
text-align: right;
font-weight: 600;
font-size: 52px;
}

.logo:hover{
color:white;
    text-shadow: 1.5px 1.5px black; 
}

 .navbar_header li a{
     font-family: "Oswald", sans-serif;
     font-weight: 500;
     font-size: 22px;
     padding: 0px 6px 0px 6px;
     color: #020202;
    text-shadow: 1.5px 1.5px #aaaaaa;
    transition: all 0.35s ease-in-out;
     -moz-transition: all 0.35s ease-in-out;
     -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
     }


.navbar_header li a:hover{
    color:white;
    text-shadow: 1.5px 1.5px black;
    text-decoration:none;

}


.link_icon_header{
    text-align: right;
 padding: 3px 0px 3px 60px; 
}

.link_icon_header a{
    font-weight: 500;
font-size: 22px; 
color: #77293a;
}

.link_icon_header a:hover{
  color: #020202;
    text-shadow: 1.5px 1.5px #aaaaaa; 
}

.dropdown_header_smd{
   margin: 0px 0 0px 0;
    border: 2px black solid;
    border-radius: 20%;
     font-weight: 200;
     font-size: 8px;
}

.dropdown_header_smd a{
    font-family: "Oswald", sans-serif;
    font-size: 18px;
     color:#77293a;
}


/*---------------------------------Main Section*/

 .Main_content{
    margin: 20px 0px 20px 0px;
}

.Guidelines_main_section, .news_section_left, .history_section_left, .news_section_right, .upper_section_contactpage, .Livinghere_main_section, .Form_main_section, .Neighbourhood_main_section, .Partner_main_section{
        margin: 0px 0px 40px 0px;
}

.Title_section, .news_section_mypage{
    margin: 20px 0px 30px 0px;
}

.Title_section h4{
    font-family: "Oswald", sans-serif;
    font-size: 28px;
    color:black;
    text-shadow: 0.5px 0.5px #987e6a;
     font-weight: 500;
     margin-top:40px;
}

.Title_section p {
    font-family: "Roboto", sans-serif;
    font-size:20px;
    color:black;
     font-weight: 500;

}

.upper_section_right_index p, .lower_section_left_index p, .board_text, .vision_section p, .history_section_left p, .Guidelines_main_section, .Neighbourhood_main_section,.Partners_section, .Form_main_section, .Livinghere_main_section, .Guidelines_main_section, .Neighbourhood_main_section,.Partners_section, .Form_main_section, .Livinghere_main_section , .news_section_left p {
    color: #494444;
    font-size:18px;
    font-family: "Roboto", sans-serif;
      font-weight: 400;
}


.Partner_title1a {
    font-size:22px;
    font-family: "Oswald", sans-serif;
    color:black;
     font-weight: 600;
     text-decoration:underline;
}

.Partner_title1 {
    margin: 40px 0 0 0;
    font-size:22px;
    font-family: "Oswald", sans-serif;
    color:black;
     font-weight: 600;
     text-decoration:underline;
}

.Partner_title2, .upper_section_contactpage p {
    font-family: "Oswald", sans-serif;
    font-size:20px;
    color:black;
     font-weight: 500;
}


.Guidelines_main_section a, .upper_section_index a, .upper_section_right_contactpage a, .Partners_section a, #infoelectricity a, #infogas a, #infotele a, #infotele a, #infoinsurance a, #infotransport a, #infokid a, #infohealth a, #inforestaurants a, #infosupermarket a, #infoother a, #infomovingin a, #infomovingout a, #infosublet a, #infocancel a, #inforelocate a{   
    color:darkblue;
    font-family: "Oswald", sans-serif;
}

.board{
 color:#111111;   
}

.board_title{
 font-family: "Oswald", sans-serif;
     font-weight: 500;
     font-size: 22px;
}

.upper_section_left_index{
    height: 300px;
    background-image: url("../img/GeneralInfoRS.jpg");
    background-size:60% 100%;
   background-position: center;
    background-repeat: no-repeat;
}


.Guidelines_main_section button, .Livinghere_main_section button, .Neighbourhood_main_section button, .Form_main_section button {
    margin:20px 0 0 0;
    font-size:20px;
    font-family: "Oswald", sans-serif;
    color:black;
     font-weight: 600;
}

.Guidelines_main_section button:hover, .Livinghere_main_section button:hover, .Neighbourhood_main_section button:hover, .Form_main_section button:hover {
     color:darkblue;
}

.board_pic{
     font-size: 42px;

}

.history_section_right{   
    height: 300px;
    background-image: url("../img/historyLRS.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.news_section_right{  
    margin: 0 0 20px 0;    
    height: 300px;
    background-image: url("../img/newsRS.png");
    background-size: 60% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.upper_section_left_contactpage{
      margin: 0 0 20px 0;    
    height: 300px;
    background-image: url("../img/contactpageRS.jpg");
    background-size:cover;
    background-repeat: no-repeat;  
}

.upper_section_right_contactpage {
    padding: 100px 0px 0px 40px;
    text-align:left;
}

.board{
    margin: 50px 0 0 0;
}

/* Ticker Vision section, General info , news section*/

/* OUTER CONTAINER */
.tcontainer {
    margin:20px 0 0 20px;
  width: 100%;
  overflow: hidden; /* Hide scroll bar */
}

/* MIDDLE CONTAINER */
.ticker-wrap {
  width: 100%;
  padding-left: 100%; /* Push contents to right side of screen */
}

/* INNER CONTAINER */
@keyframes ticker {
  0% { transform: translate3d(0, 0, 0); }
  100% { transform: translate3d(-100%, 0, 0); }
}

.ticker-move {
  display: inline-block;
  white-space: nowrap;
  padding-right: 100%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: ticker;
  animation-duration: 40s;
}
.ticker-item{
  display: inline-block; /* Lay items in a horizontal line */
  padding: 0 2rem;
  color:#494444;
  font-size:22px;
  font-family: "Roboto", sans-serif;
  font-weight: 500; 
}

.mticker-wrap {
  width: 100%;
  padding-right: 100%; /* Push contents to left side of screen */
}
@keyframes mticker {
  0% { transform: translate3d(-100%, 0, 0); }
  100% { transform: translate3d(0, 0, 0); }
}

.mticker-move {
  display: inline-block;
  white-space: nowrap;
  padding-left: 100%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: mticker;
  animation-duration: 70s;
}

.mticker-item{
  display: inline-block; /* Lay items in a horizontal line */
  padding: 0 2rem;
  color:#494444;
  font-size:22px;
  font-family: "Roboto", sans-serif;
  font-weight: 500; 
}

/* ITEMS */

.mticker-item{
  display: inline-block; /* Lay items in a horizontal line */
  padding: 0 2rem;
  color:#494444;
  font-size:22px;
  font-family: "Roboto", sans-serif;
  font-weight: 500; 
}

/* Ticker History section*/

.tickerv-wrap {
    margin:20px 0 0 20px;
  box-sizing: content-box;
  height: 200px; 
  overflow: hidden; 
  padding: 10px;
} 

@keyframes tickerv {
  0%   {margin-top: 0;}
  25%  {margin-top: -130px;} 
  50%  {margin-top: -260px;} 
  75%  {margin-top: -390px;} 
  100% {margin-top: -520px;} 
}

/* ITEMS */
.tickerv-wrap ul li {
  color:#494444;
  font-size:18px;
  font-family: "Roboto", sans-serif;
  font-weight: 400; 
}

.tickerv-wrap ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  animation-name: tickerv; /* Loop through items */
  animation-duration: 25s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}
.tickerv-wrap ul:hover {
  animation-play-state: paused;
}


/*---------------------------------Sub Section*/

.links{
   background-image: url("../img/footRS.png");
   height:150px;
    background-size:cover;
    background-repeat: no-repeat;  
     }

.dropdown_footer_info, .dropdown_footer_neighbourhood a, .dropdown_footer_partners a, .dropdown_footer_neighbourhood, .dropdown_footer_partners,.dropdown_footer_contact{
    font-family: "Oswald", sans-serif;
      color:#77293a;
      font-weight:500;
      text-shadow: white 1px 1px;
      font-size: 22px;
}

.dropdown_footer_info a,.dropdown_footer_contact a{
    font-family: "Oswald", sans-serif;
      color:#77293a;
      font-weight:400;
      font-size: 18px;
}

.dropdown_footer_neighbourhood a:hover, .dropdown_footer_partners a:hover{
       font-family: "Oswald", sans-serif;
       font-weight: 400;
     color: lightgray; 
}

.dropdown_footer_info button, .dropdown_footer_neighbourhood button, .dropdown_footer_partners button,.dropdown_footer_contact button {
       font-family: "Oswald", sans-serif;
        color:#77293a;
      font-weight:500;
      text-shadow: white 1px 1px;
      font-size: 22px;
}

.dropdown_footer_info button:hover, .dropdown_footer_neighbourhood button:hover, .dropdown_footer_partners button:hover,.dropdown_footer_contact button:hover{
       font-family: "Oswald", sans-serif;
       font-weight: 400;
     color: lightgray;
    text-shadow: 1.5px 1.5px #aaaaaa; 
}


/*---------------------------------Footer*/

.contactfooter{
      margin: 10px 0px 0px 0px;
    font-family: "Oswald", sans-serif;
    color:#77293a;
     font-weight: 500;
     font-size: 18px; 
}

.contactfooter a{
      margin: 0px 0px 0px 0px;;
    font-family: "Oswald", sans-serif;
    color:black;
     font-weight: 500;
     font-size: 18px;
}

/*--------------------------------- Modal*/

.modal-header h5{
    text-align:center;
    width:100%;
    color:#77293a;
    font-weight: 600;
     font-size: 20px; 
}

.Movin_form p, .Movout_form p{
    color:black;
         font-weight: 500;
     font-size: 18px; 
     text-decoration:underline;
}

.Movin_form label, .Movout_form label{
    color:#77293a;
         font-weight: 400;
     font-size: 16px; 
}

#Issuereport{
    margin:0 0 20px 0;
   width: 30%;
}

#Issuereport_label, #MovingIN_label{
     font-family: "Oswald", sans-serif;
     margin:0px 0 0 0;
      color:#77293a;
  text-align: center;
     font-weight: 600;
     font-size: 20px;   
}

#Issuereport option{
       font-size: 16px;   
}


#apartment_id{
        margin:0 0px 20px 30%;
      width: 40%;
}

#first_name, #last_name{
    margin: 0px 0 20px 0;
    width:50%;
    align-content: center;
    font-family: "Oswald", sans-serif;
}

#DescriptionOfIssue {
   resize: none;
   width: 100%;
   height: 20%;
}

.report_buttom{
    background-color: #77293a;
    color:white;
}

.report_buttom:hover{
    background-color: lightgray;
    color:black;
}

/*---------------------------------Media query*/

@media screen and (max-width: 992px){

    .logo{
        font-size: 34px;
        }

    .navbar_header li a{
     font-family: "Oswald", sans-serif;
     font-weight: 500;
     font-size: 18px;
     }

     .Title_section h4{
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    color:black;
}
.board_text
{ font-family: "Oswald", sans-serif;
    font-size: 18px;
    color:black;}

     .upper_section_left_index{
    background-size:100% 100%;
}
.news_section_right{  
    background-size: 100% 100%;
}

     .upper_section_right_contactpage {
    padding: 10px 0px 0px 0px;
    text-align: center;
 
}

 .contactfooter{
    font-family: "Oswald", sans-serif;
    color:#77293a;
     font-weight: 500;
}


.dropdown_footer_info button, .dropdown_footer_neighbourhood button, .dropdown_footer_partners button,.dropdown_footer_contact button {
       font-family: "Oswald", sans-serif;
      font-size: 18px;
}

}